body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  text-align: left;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}


thead th {
  position: sticky;
  top: 0;
  background-color: #4CAF50;
  z-index: 1;  
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}


table {
  margin-top: 20px;
}